@font-face {
    font-family: bw;
    src: url(src/bw.ttf);
    font-display: swap;
}

@font-face {
    font-family: korataki;
    src: url(src/title.otf);
    font-display: swap;
}

.title {
    font-family: korataki;
    font-size:36px;
    opacity:1.0;
    text-shadow: 6px 6px 0px #0f0f0f;
    color:#d5d5db;
}

.header {
    width:100%;
    height:30px;
    margin:0px;
    padding:0px;

    background-position: center;
    overflow: show;
    background-repeat: repeat-x;
    background-image: url("img/headerband.png");
    background-size: auto 100%;
}

.categorydisplay {
    margin:5px;
    font-size: 48px;
    opacity:1.0;
    text-shadow: 2px 2px 0px #a5a5ad;
    color:#DDDDDD;
}

.row {
    display: flex;
    align-items: center top;
    justify-content: center;
  }
.contentcenter {   
    margin:1px; 
    text-align: center;
}
.contentcenter p {
    font-size: clamp(1px, 5vw, 28px); /*28px*/
    opacity:1.0;
    text-shadow: 2px 2px 0px #a5a5ad;
    color:#2e2b2b;
} 

.pokemoncontainer {
    width: 33vw;      
    height: 33vw;
    position: relative;

    background-image: url("img/monbg.png");
    /*background: #DDDDDD44;*/

    overflow: hidden;
    max-width: 192px;
    max-height: 192px;

}
.pokemoncontainer img {
    transform: translate(-50%, -50%) scale(2); /* Scale factor goes here */
    transform-origin: bottom bottom;
    opacity:1.0;

    position: absolute;
    top: 50%;
    left: 50%;
    

    filter: drop-shadow(2px 2px 0px #222222BB);
}

.namecontainer {
    height: 11vw;
    max-height: 66px;
    
    
    background-image: url("img/namebox.png");
    background-size: 100%;
    opacity:0.75;


}

.namecontainer p{
    text-align: left;
    padding-left: clamp(1vw, 8vw, 41px);
    padding-top: 1px;

   
}

.textcontainer {
    height: 11vw;
    max-height: 66px;
    max-width:192px;

    margin-top:-32px;
    overflow-wrap: break-word;

    background-image: url("img/textbox.png");
    background-size: 100%;
    opacity:0.75;
}

.textcontainer p{
    text-align: left;
    padding-top: 2px;
    padding-left: clamp(1vw, 8vw, 11px);
}

.abilitycontainer {
    position: relative;
    width:170px;
    height:48px;
    margin-right:10px;
    margin-top:10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-image: url("img/abilitybox.png");
}

.abilitycontainer p {
    text-align: left;
    margin-top: 15px;
    padding-left: 10px;

    font-size: clamp(1px, 5vw, 28px); /*28px*/
    opacity:1.0;
    text-shadow: 2px 2px 0px #a5a5ad;
    color:#2e2b2b;
}

.movecontainer{
    background-image: url("img/movesbox.png");
}

.buttonstandard {
    background-image:url("img/button.png");
    background-size:100%;
    background-color: transparent;
    padding: 0px;
    margin-top:5px;
    border: none;

    width:170px;
    height:34px;

    font-family: bw;
    font-size: 24px;
    opacity:1.0;
    text-shadow: 2px 2px 0px #a5a5ad;
    color:#ffffff;

    cursor: pointer;
}
.buttonstandard:active .buttonselect:active{
    color:#AAAAAA;
    text-shadow: 2px 2px 0px #444444;
}
option {
    color:#444444;
    text-shadow: 2px 2px 0px #a5a5ad;
}
.checkbox {
    accent-color: #FF6666;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:36px;

    background-image: url("img/footer.png");

    font-size: clamp(1px, 5vw, 28px); /*28px*/
    opacity:1.0;
    text-shadow: 2px 2px 0px #a5a5ad;
    color:#DDDDDD;
}

.footer label button {
    display: inline;
}


.everything {
    text-align: center;
    font-family: bw;
    font-size:32px;

    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    object-position: center;

    font-smooth: never;
    -webkit-font-smoothing : none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('img/bg.png');
    background-attachment: fixed;
    animation: scrollBG 1s linear infinite; /* Adjust speeds */
}

@keyframes scrollBG {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -32px -32px;
  }
}
